.Main {
    width: 100%;
    height: 100%;
    padding: 2.5% 22% 0;
}

main {
    border-left: 1px solid #3b3b3b;
    border-right: 1px solid #3b3b3b;
    color: azure;
    height: 84%;
    padding: 2%;
    margin-bottom: 2.5%;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 3px;
}

main::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 20px;
}

ul {
    list-style: none;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
    font-size: 1rem;
    letter-spacing: .5px;
    padding: .75rem;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    position: relative;
}

.list-desc {
    width: 85%;
}

.list-dat {
    /* font-size: .9rem; */
    width: 20%;
}

/* ----------form--------------- */

form {
    display: flex;
    gap: 1rem;
    bottom: 0;
}

form input {
    width: 100%;
}

form input,
form button {
    padding: .85rem 1.2rem;
    font-size: .9rem;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
}

.assistant {
    border-top-right-radius: 12.5px;
    background-color: #183D3D;
}

.user {
    background-color: #4a4a4a;
    border-top-left-radius: 12.5px;
}

.shape {
    top: .4rem;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.left {
    left: -.7rem;
    transform: rotate(-90deg);
    border-bottom: 20px solid #183D3D;
}

.right {
    right: -.7rem;
    transform: rotate(90deg);
    border-bottom: 20px solid #4a4a4a;
}

@media only screen and (max-width:850px) {
    .Main {
        padding: 2%;
    }

    main {
        overflow-x: hidden;
        height: 91%;
        padding: 4%;
    }

    li {
        margin-bottom: 2%;
        font-size: .80rem;
        padding: .65rem;
    }

}